body{
    color:#f00;
}
.aaa{
    width: 100px;
    height: 100px;
    background-image: url(./../images/1222.jpg);
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}